.container {
    background-color: #F9FAF5;
    height: 100%;
}

.bloco-foto-principal {
    width: 100%;
    position: relative;
}

.bloco-foto-principal img {
    width: 100%;
    object-fit: cover; /* Impede a distorção da imagem */
}

.title-class{
    color: red !important;
}

::ng-deep #swal2-title{
    padding-top: 0;
}

::ng-deep .image-class{
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
}


::ng-deep .image-class-dicas{
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translateX(-50%);
}

::ng-deep #swal2-html-container{
    font-family: sans-serif !important;
    color: #989F8A !important;
}


.onda-fundo-insta{
    position: relative;
    top: -3px;
}

@media only screen and (max-width: 767px) {
    /* Estilos para dispositivos móveis */
    .bloco-foto-principal .nanda {
        height: 490px; /* Define a altura desejada para a imagem */
        width: 100%; /* Define a largura como automática para manter a proporção */
    }


    .nova-imagem {
        position: absolute;
        bottom: -1px; 
        left: 0;
        width: 100%;
    }
}

.apresentacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -23px;
    margin-bottom: 140px;
}

.apresentacao span{
    color: #989F8A;
    padding: 5px 30px;
    line-height: 25px;
    border: 1px solid #989F8A;
    font-size: 25px;
    margin-bottom: 35px;
}

.titulo_apresentacao{
    text-align: center;
}

.titulo_apresentacao h1{
    color: #74617E;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 0px;
    font-weight: 700;
}

.titulo_apresentacao h2{
    font-size: 25px;
    color: #B2A6D1;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.aspas{
    font-size: 20px;
    color: #989F8A;
}

.aspas p{
   margin: 10px; 
   font-family: sans-serif;
}

.aspa{
    width: 30px;
}

.invertida{
    transform: rotate(180deg);
}

.contagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flor{
    position: relative;
    width: 170px;
    top: -404px;
    left: -107px;
    z-index: 100;
}

.blocos{
    margin-top: -512px;
    z-index: 1;
    text-align: center;
}

.conteudo-blocos{
    display: flex;
    justify-content: center;
}

.bloco{
    text-align: center;
    border-right: 1px solid #B2A6D1;
    padding: 0px 8px;
}

.ultimo{
    border-right: none;
}

.icon-circulo{
    width: 360px;
    height: 360px;
    position: relative;
}
.faltam{
    font-size: 45px;
    color: #74617E;
    font-weight: 700;
    margin-bottom: 0px;
}


.bloco h1{
    font-size: 35px;
    margin-bottom: 0px;
    color: #74617E;
    font-family: sans-serif;
}

.bloco p{
    font-size: 18px;
    font-family: sans-serif;
    color: #989F8A;
}

.heart {
    position: relative;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
    animation: pulse 1s infinite;
    margin-top: 15px;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.bola {
    position: relative; /* ou position: absolute; */
    width: 287px;
    height: 287px;
    margin-top: -264px; /* Ajuste conforme necessário */
    z-index: -1; /* Um valor negativo para ficar por baixo */
    border-radius: 50%; /* Torna o elemento redondo */
    background-color: white; /* Cor da bola (substitua pela cor desejada) */
    box-shadow: 0 0 20px 10px #c6c6c652; /* Adiciona sombra com efeito de esfumaçado */
}

.festa{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background: rgb(116, 97, 126);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 10px #c6c6c6; /* Adiciona sombra com efeito de esfumaçado */
}

.bloco-festa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-image: url('../../../assets/imagens/linhas.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.conteudo-festa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.conteudo-festa h1{
    margin-bottom: 0px;
    padding: 0px 30px;
    font-size: 40px;
    background-color: #74617E;
    color: white;
    width: 50%;
    max-width: 378px;
    text-align: center;
}

.conteudo-festa::before {
    content: "";
    background-image: url('../../../assets/imagens/cinta-before.svg');
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 55px;
    width: 18px;
    left: 1px;
    position: relative;

}

.conteudo-festa::after{
    content: "";
    background-image: url('../../../assets/imagens/cinta-before.svg');
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 55px;
    width: 18px;
    /* rotacionar imagem */
    transform: scaleX(-1);
    right: 1px;
    position: relative;

}

.dia, .local, .endereco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dia h1, .local h1, .endereco h1{
    font-size: 25px;
    color: #74617E;
    margin-bottom: 0px;
    font-weight: 700;
    font-family: sans-serif;
}

.dia p, .local p, .endereco p{
    font-size: 20px;
    color: #989F8A;
    font-family: sans-serif;
}

.dia button, .local button, .endereco button{
    width: 70%;
    color: white;
    font-family: sans-serif;
    background-color: #B2A6D1;
    padding: 18px 30px;
    border: none;
    line-height: 15px;
    font-size: 17px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
    border-radius: 50px;
}

.primeiro, .segundo, .terceiro{
    margin-bottom: 45px;
}

.infos{
    background-image: url('../../../assets/imagens/fundo.webp');
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-x: -85px;
    background-position-y: 64px;
}

.onda{
    margin-top: 80px;
}

.imagens{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagens h1{
    font-size: 45px;
    line-height: 45px;
    padding: 0 15px;
    text-align: center;
    color: #74617E;
    font-weight: 700;
}

.imagens p{
    font-size: 19px;
    padding: 0 15px;
    margin-top: 25px;
    color: #989F8A;
    font-family: sans-serif;
}

.image-carousel-item {
    width: 100%;
    object-fit: contain; /* Manter a proporção original */
    border: 10px solid white; /* Borda branca */
    border-radius: 20px; /* Borda arredondada */
    max-height: 400px;
    background-color: white;
    margin-bottom: 20px;
}



::ng-deep #pn_id_1 li button{
    background-color: #B2A6D1 ;
    margin: 0px 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

::ng-deep #pn_id_1 > div > ul > li.p-carousel-indicator.p-highlight > button{
    background-color: #74617E !important;
}

.divisao{
    margin-top: 90px;
}

.instrucoes h1{
    font-size: 45px;
    color:#74617E;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}

.instrucoes p{
    font-size: 19px;
    padding: 0 15px;
    font-family: sans-serif;
    color: #989F8A;
    text-align: center;
}

.bloco-instrucoes{
    margin-top: -202px;
}

.bloco-instrucao{
    text-align: center;
    background-color: #F9FAF5;
    padding: 40px 25px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px #B2A6D1;
    margin: 40px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bloco-instrucao h1{
    font-size: 22px;
    color: #74617E;
    font-weight: 700;
    margin-bottom: 0;
}

.bloco-instrucao p{
    font-size: 16px;
    color: #989F8A;
    font-family: sans-serif;
}

.bloco-instrucao svg{
    margin: 20px 0;
width: 75px !important;
height: 75px !important;
}

.bloco-instrucao button{
    background-color: #B2A6D1;
    color: white;
    font-family: sans-serif;
    border-radius: 50px;
    line-height: 15px;
    font-size: 17px;
    padding: 18px 30px;
    font-weight: 500;
    border: none;
    width: 100%;
}

.flor-info{
    position: relative;
    top: 164px;
    left: -35px;
    z-index: 0;
    width: 195px;
}

.fundo-antes-presentes{
    width: 40%;
    position: relative;
    right: 81px;
    top: -186px;
}

.presentes{
    margin-top: -260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentes h1{
    font-size: 45px;
    line-height: 45px;
    padding: 0 15px;
    color: #74617E;
    font-weight: 700;
}

.presentes p{
    font-size: 19px;
    padding: 0 15px;
    margin-top: 25px;
    color: #989F8A;
    font-family: sans-serif;
    margin-bottom: 0px;
}
.presentes lord-icon{
    width: 100px !important;
    height: 100px !important;
    margin: 30px 0px;
}

.presentes button{
    background-color: #B2A6D1;
    color: white;
    font-family: sans-serif;
    border-radius: 50px;
    line-height: 15px;
    font-size: 17px;
    padding: 18px 30px;
    border: none;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
    margin-bottom: 120px;
}

.insta{
    background-image: url(../../../assets/imagens/fundo-insta.webp);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.insta h1{
    color: white;
    line-height: 45px;
    padding: 0 15px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}

.insta p{
    font-size: 19px;
    padding: 0 15px;
    margin-top: 25px;
    color: white;
    font-family: sans-serif;
}

.insta svg{
    width: 95px !important;
    height: 95px !important;
}

.insta h2{
    font-size: 40px;
    color: white;
    font-weight: 700;
    font-family: sans-serif;
}

.insta button{
    background-color: #B2A6D1;
    color: white;
    font-family: sans-serif;
    border-radius: 50px;
    line-height: 15px;
    font-size: 17px;
    padding: 18px 30px;
    border: none;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.40);
    margin-bottom: 90px;
}

.insta ::after{
    background-image: url('../../../assets/imagens/divisao-ista.svg');
    content: '';
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}